---
layout: home_index
tags: cs, nlp, python, deep-learning, machine-learning, LDA, PCA, CNN, NER, BERT, ALBERT, DistilBERT
---
<div class="container-fluid text-center">
	<div>
			{% include profile-page/photo-section.html %}
	</div>
	<div>
			{% include profile-page/intro-box.html %}
	</div>
	<div>
			{% include profile-page/button-box.html %}
	</div>
	<div>
			{% include profile-page/tag-box.html tags=page.tags %}
	</div>
		<div>
			{% include widget/rss.html %}
	</div>

</div>
{% include script/profile-page.html %}
