<!-- OK -->

<div class="post-view-color post-view-window">
	<!-- title -->
	<a href="{{ site.baseurl }}{{ post.url }}">
	<div class="post-view-title text-left" >
		<p>{{ post.title }}</p>
	</div>
	
	<!-- date -->
	<div class="post-view-date">
			{{ post.date | date: "%-d %B %Y"  }}
	</div>
	</a>

	<!-- tags -->
	<div class="post-view-tags">
    {% for tag in page.categories %}
      {% if tag == 'easy' %}
		<a href="{{site.baseurl}}/posts/categories/{{tag}}/" class="badge badge-success">{{ tag }}</a>
  	  {% endif %}
      {% if tag == 'medium' %}
		<a href="{{site.baseurl}}/posts/categories/{{tag}}/" class="badge badge-warning">{{ tag }}</a>
  	  {% endif %}
      {% if tag == 'hard' %}
		<a href="{{site.baseurl}}/posts/categories/{{tag}}/" class="badge badge-danger">{{ tag }}</a>
  	  {% endif %}
		{% endfor %}
		{% for tag in page.tags %}
		<i href="#" class="badge badge-dark">{{ tag }}</i>
		{% endfor %}
	</div>
	<hr>

	<!-- excerpt -->
	<div class="post-view-excerpt text-left">
		<p>
			{{ post.excerpt }}
		</p>
	</div>		
	<hr>

	<!-- Read Button -->
	<a href="{{ site.baseurl }}{{ post.url }}">
	<div class="post-view-readmore text-center">
		<i class="fab fa-readme fa-2x"></i>
	</div>
	</a>
</div>
