
<div class="profile-page-button-section">

<span class="profile-page-button-box-description-title">企業精選</span>
<div class="container-fluid profile-page-button-box">
	<a href="{{site.baseurl}}/posts/">
	<div class="row profile-button">
		<div class="col-md-3 col-sm-3 profile-button-icon">
      <span><i class="fab fa-meta fa-3x"></i></span>
		</div>
		<div class="col-md-9 col-sm-9 profile-page-button-box-description" >
			<div class="profile-button-box-intro text-left" style=" width: 100%;">
				<span class="profile-page-button-box-description-title">Meta</span>
			</div>
			<div class="profile-button-box-chart progress" style="height: 10px; width: 100%;">
				<div class="progress-bar progress-bar-striped bg-warning progress-meta" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>
	</a>
</div>

<div class="container-fluid profile-page-button-box">
	<a href="{{site.baseurl}}/posts/">
	<div class="row profile-button">
		<div class="col-md-3 col-sm-3 profile-button-icon">
      <span><i class="fab fa-amazon fa-3x"></i></span>
		</div>
		<div class="col-md-9 col-sm-9 profile-page-button-box-description" >
			<div class="profile-button-box-intro text-left" style=" width: 100%;">
				<span class="profile-page-button-box-description-title">Amazon</span>
			</div>
			<div class="profile-button-box-chart progress" style="height: 10px; width: 100%;">
				<div class="progress-bar progress-bar-striped bg-warning progress-amazon" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>
	</a>
</div>

<div class="container-fluid profile-page-button-box">
	<a href="{{site.baseurl}}/posts/">
	<div class="row profile-button">
		<div class="col-md-3 col-sm-3 profile-button-icon">
      <span><i class="fab fa-linkedin fa-3x"></i></span>
		</div>
		<div class="col-md-9 col-sm-9 profile-page-button-box-description" >
			<div class="profile-button-box-intro text-left" style=" width: 100%;">
				<span class="profile-page-button-box-description-title">Linkedin</span>
			</div>
			<div class="profile-button-box-chart progress" style="height: 10px; width: 100%;">
				<div class="progress-bar progress-bar-striped bg-warning progress-linkedin" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>
	</a>
</div>
<div class="container-fluid profile-page-button-box">
	<a href="{{site.baseurl}}/posts/">
	<div class="row profile-button">
		<div class="col-md-3 col-sm-3 profile-button-icon">
      <span><i class="fab fa-apple fa-3x"></i></span>
		</div>
		<div class="col-md-9 col-sm-9 profile-page-button-box-description" >
			<div class="profile-button-box-intro text-left" style=" width: 100%;">
				<span class="profile-page-button-box-description-title">Apple</span>
			</div>
			<div class="profile-button-box-chart progress" style="height: 10px; width: 100%;">
				<div class="progress-bar progress-bar-striped bg-warning progress-apple" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>
	</a>
</div>

<div class="container-fluid profile-page-button-box">
	<a href="{{site.baseurl}}/posts/">
	<div class="row profile-button">
		<div class="col-md-3 col-sm-3 profile-button-icon">
      <span><i class="fab fa-microsoft fa-3x"></i></span>
		</div>
		<div class="col-md-9 col-sm-9 profile-page-button-box-description" >
			<div class="profile-button-box-intro text-left" style=" width: 100%;">
				<span class="profile-page-button-box-description-title">Microsoft</span>
			</div>
			<div class="profile-button-box-chart progress" style="height: 10px; width: 100%;">
				<div class="progress-bar progress-bar-striped bg-warning progress-microsoft" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>
	</a>
</div>

<div class="container-fluid profile-page-button-box">
	<a href="{{site.baseurl}}/works/">
	<div class="row profile-button">
		<div class="col-md-3 col-sm-3 profile-button-icon">
			<span><i class="fab fa-google fa-3x"></i></span>
		</div>
		<div class="col-md-9 col-sm-9 profile-page-button-box-description" >
			<div class="profile-button-box-intro text-left" style=" width: 100%;">
				<span class="profile-page-button-box-description-title">Google</span>
			</div>
			<div class="profile-button-box-chart progress" style="height: 10px; width: 100%;">
				<div class="progress-bar progress-bar-striped bg-warning progress-google" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>
	</a>
</div>
</div>


