<!-- No -->

<!--This is the footer of the website-->

<div class="footer-window container-fluid footer-color">
	<div class="row">
		<div class="footer-view footer-left col-md-4 text-left">
			<div class="footer-section">
				<div class="account-box">
			</div>
			</div>
		</div>
		<div class="footer-view footer-center col-md-4 text-center">
			<div class="footer-section">
				<div class="footer-copyright">
					解題愛好者
					<br><br>
					歡迎來到刷題貓！我們是兩位熱愛程式設計的工程師，在此分享Leetcode刷題心得以及整理主題式的文章
					<br><br>
					© 2023 CATXCODER All Rights Reserved
				</div>
				<div>
				</div>
			</div>
		</div>
		<div class="footer-view footer-right col-md-4 text-center">
			<div class="footer-section">
			</div>
		</div>
	</div>
</div>

<!--
log
<p>Version 0.0.2</p>
			<p>0.0.2 - 配色完成</p>
			<p>0.0.2 - 基本模板完成</p>
			<p>0.0.2 - 自我介紹新增打字效果</p>




-->
