<!-- No -->

<!--This is the footer of the website-->

<div class="footer-window container-fluid footer-color">
	<div class="row">
		<div class="footer-view footer-left col-md-4 text-left">
			<div class="footer-section">
				<div class="account-box">
			</div>
			</div>
		</div>
		<div class="footer-view footer-center col-md-4 text-center">
			<div class="footer-section">
				<div class="footer-copyright">
					此部落格的文章<br>部分同步發佈於medium
					<br><br>
					© 2020 TSU PEI All Rights Reserved
				</div>
				<div>
					<a class="account" href="https://github.com/tsupei">
						<i class="fab fa-github-square fa-3x"></i>
					</a>
					<a class="account" href="https://medium.com/@a5560648">
						<i class="fab fa-medium fa-3x"></i> 
					</a>
					<a class="account" href="mailto:a5560648@gmail.com">
						<i class="fas fa-envelope-square fa-3x"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="footer-view footer-right col-md-4 text-center">
			<div class="footer-section">
			</div>
		</div>
	</div>
</div>

<!--
log
<p>Version 0.0.2</p>
			<p>0.0.2 - 配色完成</p>
			<p>0.0.2 - 基本模板完成</p>
			<p>0.0.2 - 自我介紹新增打字效果</p>




-->
