<!-- OK -->

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-default nav-color" >
    <a class="navbar-item" href="{{site.baseurl}}/index.html">刷題貓</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fas fa-bars" ></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto navbar-right">
          <li class="nav-item">
             <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="{{site.baseurl}}/posts">Problem</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="{{site.baseurl}}/works">Theme</a>
          </li>
        </ul>
    </div>
  </nav>
</div>
