<div class="rss-block">
    <form style="border:1px #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Tsupeigithubio', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

        <div class="form-group">
            <small id="emailHelp" class="form-text text-muted">Enter email address to subscribe this blog</small>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com">
            <button type="submit" class="btn btn-dark" style="margin-top:10px;">Subscribe</button>
        </div>


        <input type="hidden" value="Tsupeigithubio" name="uri"/>
        <input type="hidden" name="loc" value="en_US"/>
    </form>
</div>

<!--
                <label for="exampleInputEmail1">Email address</label>

            <p>Enter your email address:</p><p><input type="text" style="width:140px" name="email"/></p>
                    <input type="submit" value="Subscribe" />


            <p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p>
-->
