---
layout: home_post
---


<div class="post-view-color post-view-window">
	
	<!-- title -->
	<div class="post-view-title text-left" >
		<p>{{ page.title }}</p>
	</div>
	
	<!-- date -->
	<div class="post-view-date">
			{{ page.date | date: "%-d %B %Y"  }}
	</div>

	<!-- tags -->
	<div class="post-view-tags">
		{% for tag in page.categories %}
      {% if tag == 'easy' %}
		<a href="{{site.baseurl}}/posts/categories/{{tag}}/" class="badge badge-success">{{ tag }}</a>
  	  {% endif %}
      {% if tag == 'medium' %}
		<a href="{{site.baseurl}}/posts/categories/{{tag}}/" class="badge badge-warning">{{ tag }}</a>
  	  {% endif %}
      {% if tag == 'hard' %}
		<a href="{{site.baseurl}}/posts/categories/{{tag}}/" class="badge badge-danger">{{ tag }}</a>
  	  {% endif %}
		{% endfor %}
		{% for tag in page.tags %}
		<i href="#" class="badge badge-dark">{{ tag }}</i>
		{% endfor %}
	</div>
	<hr>

	<!-- excerpt -->
	<div class="post-view-excerpt text-left">
		<p>
			{{ page.content}}
		</p>
	</div>		
  <div style="text-align: left; padding: 25px;">
  <h1>相關文章</h1>
  {% assign page_tags = page.tags | split: ", " %}
  {% assign sorted_posts = site.posts | sort: "categories" %}

  {% for post in sorted_posts %}
 	{% assign post_tags = post.tags | split: ", " %}
	{% assign all_tags = page_tags | concat: post_tags %}
	{% assign uni_all_tags_size = all_tags | uniq | size %}
	{% assign all_tags_size = all_tags | size %}
	{% if all_tags_size != uni_all_tags_size %}
		{% include posts/pagination-box.html post=post %}
	{% endif %}
  {% endfor %}
  </div>
</div>